<div class="video-card portrait">
    <div class="video-wrapper portrait">
    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F857706373506580%2F&show_text=false&width=267&t=0"
        width="100%" 
        height="476" 
        style="border:none;overflow:hidden" 
        scrolling="no" 
        frameborder="0" 
        allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
        allowFullScreen="true">
    </iframe>
    </div>
    <div class="video-info">
        <h3 class="video-title">Ormoc City Government</h3>
        <p class="video-meta">From Facebook 2025</p>
    </div>
</div>

