
<div class="app-card">
    <div class="app-icon">
        <img src="assets/images/app.png" alt="OBO App Icon" class="app-icon-img">
    </div>
    <div class="app-info">
        <h3 class="app-name">OBO</h3>
        <p class="app-developer">Office of Building Official</p>
        <div class="app-rating">
            <span class="material-icons star">star</span>
            <span class="rating-value">4.5</span>
            <span class="rating-count">(1.2M)</span>
        </div>
    </div>
    <a href="https://github.com/ormoc-dev/OBO-MOBILE/releases/download/obo/app-release.apk" class="install-button">Install</a>
</div>


