<div class="app-list-item">
    <span class="rank-number">1</span>
    <div class="app-icon-small">
        <img src="assets/images/app.png" alt="Top App 1 Icon" class="app-icon-img-small">
    </div>
    <div class="app-details">
        <h3 class="app-name">OBO</h3>
        <p class="app-developer">Ormoc City Admin</p>
        <div class="app-rating">
            <span class="material-icons star">star</span>
            <span class="rating-value">4.9</span>
        </div>
    </div>
    <a href="https://github.com/ormoc-dev/OBO-MOBILE/releases/download/obo/app-release.apk" class="install-button-small">Install</a>
</div>


